*.sdf
*.opensdf
*.suo
*.vcxproj
*.map
*.reg
*.nvuser
*.filters
*.ttf
*.bmp
*.rc2
*.ico
*.dll
*.aps
*.rc
*.user
GLProjectInRibbon/ipch
GLProjectInRibbon/Release
GLProjectInRibbon/Debug
GLProjectInRibbon/GLProjectInRibbon/Debug
GLProjectInRibbon/GLProjectInRibbon/res
GLProjectInRibbon/GLProjectInRibbon/Release
GLProjectInRibbon/GLProjectInRibbon/include
